<div class="nav-body">
  <h1>TheTask</h1>

  <div class="status-wrapper">
    <div class="health-indicator" [ngClass]="status()"></div>
    <span class="status-label">{{ status() }}</span>
  </div>


  <div class="nav-auth">
  <ul>
    @if (isLoggedIn()) {
      <li class="nav-username">
        <p>User:</p>
        <h4>{{ user()?.name }}</h4>
      </li>
    }

    @for (option of accountOptions(); track option.name) {
      @if (option.visible) {
        <li>
          <button mat-button [routerLink]="option.link" (click)="option.action?.()">
            {{ option.name }}
          </button>
        </li>
      }
    }
  </ul>
</div>
</div>
